@font-face {
    font-family: 'Fira Code';
    src: url(/public/fonts/FiraCode-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url(/public/fonts/FiraCode-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}