@import url(./css/fonts.css);

* {
  box-sizing: border-box;
}

.button-toolbar {
  color: #dcdcdc;
  border: none;
  cursor: pointer;
  padding: 0;
  background: none;

  &:hover {
    color: #99999999;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  font-family: 'Fira Code', sans-serif;
}

#root {
  padding: 0;
}

.editor {
  width: 100%;
  height: 100%;
  padding: 24px 0;
}

.split {
  height: calc(100vh - 59px);
}

#output {
  width: 100%;
  height: 100%;
  color: #dcdcdc;
  padding: 24px 12px 0 12px;
  font-size: 14px;
  text-align: left;
  line-height: 19px;
  white-space: pre;
}

@media screen and (min-width: 480px) {
  .split {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  .gutter {
    height: 100% !important;
  }

  .gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==);
  }
}

.gutter {
  background-color: #3f3f3f;
  background-repeat: no-repeat;
  background-position: 50%;
}

.editor-toolbar {
  gap: 5px;
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 1;
  padding: 12px;
  position: fixed;
}

.toolbar {
  top: 5px;
  right: 5px;
  gap: 5px;
  z-index: 1;
  padding: 12px;
  display: flex;
  position: fixed;
}

.logo {
  gap: 8px;
  padding: 12px;
  display: flex;
  box-shadow: 0 0 12px 0 #3f3f3f;
  align-items: center;
  background-color: #1a1a1a;

  & svg {
    z-index: 1;
    position: relative;
    margin-top: 5px;
  }

  & .title {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 800;
  }
  
  & .version {
    color: #707070;
    font-size: 10px;
    margin-top: 10px;
  }
}


.gradient {
  position: relative;

  &::before {
    top: 0;
    left: 0;
    right: 0;
    filter: blur(20px);
    bottom: 0;
    opacity: .5;
    content: '';
    position: absolute;
    background: linear-gradient(1deg, #fff95b 0%, #ff930f 100%);
    transition: opacity 0.3s;
    border-radius: inherit;
  }

  &::after {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    position: absolute;
    background: inherit;
    border-radius: inherit;
  }
}

.gradient {
  position: relative;

  &::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(12px);
    opacity: .5;
    content: '';
    position: absolute;
    background: linear-gradient(1deg, #fff95b 0%, #ff930f 100%);
    transition: opacity .3s;
    border-radius: inherit;
  }

  &::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    background: inherit;
    border-radius: inherit;
  }
}

.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=);
}

@media scren and (max-wdith: 480px) {
  #output {
    padding: 24px 0 0 32px;
  }
}